.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 50px;
    border-top: #CB6CE6 solid 1px;
    padding: 50px;
    width: 100%;
}